.clock-grids {
  background: #FC354C;
  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
  background: linear-gradient(to right, #0ABFBC, #FC354C);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    border-top: solid 5px #67e9de;
    box-shadow: 0 0px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  }

  .clock-heading h3 {
    margin: 1em 0;
    text-align: center;
    font-size: 1.5em;
    color: #f6f4f3;
    font-weight: 600;
    text-transform: uppercase;
  }

  .clock-left {
    padding: 0 1em;
  }

  .clock {
    display: inline;
  }
  #myclock {
    text-align: center;
  }

  #myclock canvas {
    width: 300px !important;
    height: 300px !important;
  }

  #set {
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    color: rgb(247, 240, 240);
    background-color: #F3A829;
    border-radius: 5px;
  }

  #set:hover {
    text-decoration: none;
    padding: 4px 9px 4px 9px;
    color: #fefefe;
    background-color: #F3A829;
    border-radius: 5px;
  }

  #Date {
    font-size: 2em;
    text-align: center;
    color: #0f0f0f;
  }
  .clock ul {
    padding: 0;
    margin: 1em 0 0 0;
    text-align: center;
  }

  .clock ul li {
    display: inline;
    font-size: 3em;
    text-align: center;
    color: rgb(2, 1, 2);
  }

  .clock-bottom {
    margin: 1em 0 0 0;
    padding: 1em;
    background: #FC354C;
  background: -webkit-linear-gradient(to right, #d8fff5, #e573f6);
  background: linear-gradient(to right, #74f8b6, #f5ccee);
    /* background: #22aaa1; */
    /* background: -moz-linear-gradient(left, #22aaa1 0%, #399348 100%);
    background: -webkit-linear-gradient(left, #22aaa1 0%, #399348 100%);
    background: linear-gradient(to right, #22aaa1 0%, #399348 100%); */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#22aaa1', endColorstr='#399348', GradientType=1);
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
  }

  @media (max-width:1080px) {
    div#myclock canvas {
      width: 250px !important;
      height: 250px !important;
    }
  }

  @media (max-width:320px) {
    div#myclock canvas {
      width: 200px !important;
      height: 200px !important;
    }
  }
#clock_ind{
  margin-top: 0%;
  margin-left: 35%
}

