body {
  background: #FC354C;
  background: -webkit-linear-gradient(to right, #d8fff5, #e573f6);
  background: linear-gradient(to right, #74f8b6, #f5ccee);
    margin-top: 1%;
  }
  /* шапка */
#header1{
    margin-top:0%;
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    background: linear-gradient(to right, #0ABFBC, #FC354C);
}
#shirift_color{
      color: #fff;
      font-size: 14px;
}
#chirift_colors{
    color: #fff;
    font-size: 14px;
}
#Search{
    color: rgb(255, 251, 251);
    font-size: 14px;
}
#btn{
  
  display: none;
  
  
} 
  #clok {
    margin-top:0%;
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    background: linear-gradient(to right, #0ABFBC, #FC354C);
  }

  /* clock style */
  #myclock canvas {
    width: 40%;
    max-width: 40%;
    margin-left: 80%;

  }

.my_brend{
    width: 7%;
}
#message_autorization{
    display: none;
}
#video{
    margin-left: 40%;
}
#authorized{
  display: none;

}
 
#message_update_user_date2{
  display: none;
}
#the_calendar{
  width:170px;
  margin-left: 7%;
 
}
#t_DayDiary1{
  margin-left: 7%;
}
#cnopDl{
  background-color: #950516;
  color: #fff;
}
#update{
  background-color: rgb(255, 98, 98);
  color: rgb(255, 251, 251)
}



<!--Часы-->
#clok2{
  margin-top: 0%;
  transform: scale(1, 1);
}
@media (min-width: 120px) {
  #date {
    font-size: 2.5rem;
  }

  #time {
    font-size: 10rem;
  }

  #time span {
    font-size: 2.5rem;
    line-height: 1;
  }
}
main.container-fluid {
  margin: 0;
  padding: 0;
}

.nightmode {
  background-color: #121212;
  background-image: linear-gradient(to right, #274046, #E6DADA);
  color: #fff;
  text-shadow: 1px 1px 1px black;
}

.daymode {
  background-color: #87ceeb;
  background-image: linear-gradient(to bottom left, #87ceeb 0%, #fff 100%);
  color: #333;
  text-shadow: 1px 1px 10px white;
}

.clocktext {
  display: block;
  margin: 0;
  padding: 1px 0 0 0;
  width: 100%;
  text-align: center;
  line-height: 1.2;
  white-space: nowrap;
}

#date {
  font-size: 50px;
  padding-top: 15px;
}

#time {
  font-size: 5rem;
  margin: 1px 0 0 0;
}



@media (min-width: 150px) {
  #date {
    font-size:50px;
  }

  #time {
    font-size: 50px;
  }

  #time span {
    font-size: 50px;
    line-height: 2;
  }
}

@media (min-width: 200px) {
  #date {
    font-size: 3rem;
  }

  #time {
    font-size: 11rem;
  }

  #time span {
    font-size: 3rem;
    line-height: 2;
  }
}

@media (min-width: 250px) {
  #date {
    font-size: 50px;
  }

  #time {
    font-size: 50px;
  }

  #time span {
    font-size: 50px;
    line-height: 2;
  }
}




/* Погода */
.ww-informers-box-854754{-webkit-animation-name:ww-informers54;
  animation-name:ww-informers54;
  -webkit-animation-duration:1.5s;
  animation-duration:1.5s;
   white-space:nowrap;overflow:hidden; 
  -o-text-overflow:ellipsis;
  text-overflow:ellipsis;font-size:12px;
  font-family:Arial;
  line-height:18px;
  text-align:center
}
@-webkit-keyframes ww-informers54{0%,80%{opacity:0}100%{opacity:1}}
@keyframes ww-informers54{0%,80%{opacity:0}100%{opacity:1}}
#f69aeff3922466291723630c67b54dad{
  display: block;
  margin-left: 35%;
  /* width:350px;
  height: 150px; */
}
/* видео */
#bege{
  
  width:300px;
  height: 170px;
  padding-left: 5px;
 
}
#vid{
  background: #FC354C;
  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
  background: linear-gradient(to right, #0ABFBC, #FC354C);
  margin-left: 55%;
}
#load_nformation{
  margin-left: 3%;
}
/* Кабинет пользователя */

#otzev{
  margin-left: 1%;
}