#submit_load_task{
    background-color: rgb(3, 78, 68);
    color: rgb(250, 253, 250);
}
#cnopR{
    background-color:rgb(5, 119, 128);
    color: white;
}
#cnopU{
    background-color: rgb(255, 0, 0);
    color: white;
}
#cotegoriye{
    background-color: rgb(158, 9, 66);
}
#clock2{
    margin-top:0%;
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    background: linear-gradient(to right, #0ABFBC, #FC354C);
}
#message_add_notask{
    color: rgb(2, 27, 2);
    background-color: rgba(243, 162, 148, 0.678);
    padding-left: 35%;
    font-size: 24px;
    display: none;
}

#message_add_taskc{
    color: rgb(2, 27, 2);
    background-color: rgb(27, 250, 7);
    padding-left: 35%;
    font-size: 24px;
    display: none;
}
#form_load_task{
    display: dlock;
    font-size: 14px;
}
#task_history{
    font-size: 14px;
    color: rgb(2, 27, 2);
}

#insert_task{
    background-color: rgb(6, 192, 167);
    color: rgb(243, 250, 243); 
}
#tableE{
    font-size: 18px;
}
.table{
    font-size: 24px;
}
#returnn{
    font-size: 24px;
    color: #d46fd4;
}
#submit_update_task{
    color: #f5f7f8;
    background-color: rgb(6, 192, 167);
}
#message_updata_task{
    color: rgb(2, 27, 2);
    background-color: rgb(27, 250, 7);
    padding-left: 35%;
    font-size: 24px;
    display: none;
}
.peri{
    color: rgb(2, 27, 2);
    /* background-color: rgb(27, 250, 7); */
    background: #f31142;
    background: -webkit-linear-gradient(to right, #61f83b, #e8fc35);
    background: linear-gradient(to right, #87ff91, #eaee05);
    padding-left: 35%;
    font-size: 16px;
    display: block;
}
.form-check-labele{
    color: black;
    font-size: 18px;
    padding-left: 20%;
}
.form-check-labelz{
    color: black;
    font-size: 18px;
    padding-left: 5%;
}
.row gy-2 gx-3 align-items-center{
    color: rgb(2, 27, 2);
    font-size: 16px;
    padding-left: 35%

}
.form-check-label{
    color: black;
    font-size: 18px;
}

#go_excel{
    background-color: rgb(4, 149, 151);
    border-color: #0ABFBC;
    margin-left: 72%;
    color: floralwhite;
}

#labe{
    color: rgb(2, 27, 2);
    background: #f31142;
    background: -webkit-linear-gradient(to right, #61f83b, #36d0ff);
    background: linear-gradient(to right, #87ff91, #8de4ff);
    padding-left: 35%;
    font-size: 24px;
}
#nformation{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
#ret{
    background-color: #098b89;
}
#insert_reviews{
    background-color: #089795;
    color: floralwhite;
}
#message_reviews{
    display: none;
}
#message_no_reviews{
    display: none;
}