.general_css {
    background-color: darkseagreen;
}
.table_style-1a {
    background-color: lightsalmon;
}

.table_style-9 {
    background-color: bisque;
}

.table_style-12 {
    background-color: powderblue;
}
