
/* head{margin-top: 1%;} */

#bodi2{
    
    background: #9cf1fd;
    background: -webkit-linear-gradient(to right, #0ABFBC, #dc8ffa);
    background: linear-gradient(to right, #98faff, #fbd2fb);
}


#message_regi2{
    
    display: block;
}

#prod_detalis{
    margin-top: 12%;
}

/* .nav-item{margin-top: 35%;} */

.col-lg-4{
    margin-top: 3%;
}
#message_add_taskc{
    display: none;
}
/* product_detalis */
#labe{
    width: 45%;
        height: 45%;
        border-radius: 26px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        font-size: 26px;
    color: rgb(2, 27, 2); 
    /* background-color: rgb(27, 250, 7); */
    background: #f31142;
    background: -webkit-linear-gradient(to right, #61f83b, #fc9f35);
    background: linear-gradient(to right, #87ff91, #ef83f3);
    /* padding-left: 2%; */
    /* font-size: 18px; */
}
#exampleModalLabel{
    margin-top: auto;
    width: 95%;
        height: 35%;
        border-radius: 24px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        font-size: 24px;
}
#id_product_order{
    display: none;
}
#formTim{
    width: 50%;
    margin-left: 35%;
}

#zayvca{
    margin-left: 35%;
    width: 55%;
}
#products_id{
    display: none;
}
#revers1{
    background: #9cf1fd;
    background: -webkit-linear-gradient(to right, #0ABFBC, #dc8ffa);
    background: linear-gradient(to right, #98faff, #fbd2fb);
        width: 35%;
        height: 35%;
        /* Закругление
        border-radius: 24px;
        text-align: center;
        padding-left: 0;
        padding-right: 0; */
        font-size: 24px;
}
 
  
/* #show_modal_registration{
    width: 55%;
    height: 45%;
    border-radius: 24px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 24px;
    color: rgb(2, 27, 2);
} */