
.logo{ width: 30%; height: 15%;}
/* .my_logo{
    width: 15%;
} */
#so1{width: 10%; height: 10%; margin-left: 10%;}
.so{margin-left: 10%;}
#lg-mnu-sec sticky{margin-top: 20%;}

#topbar{text-align: center;}
 #pockt{padding: right 3%;} 


.my_message{
    color: red;
}
#sidebarMenu{
    margin-top: 2%;
}
#message_registration {
    display: none;
}

#message_registration2 {
    display: none;
 }
 
 /* #authorized{
    display: block;
 } */

 
 /* тест */
 #testes{
     margin-top:0%; 
    background: #35e5fc;
    background: -webkit-linear-gradient(to right, #0abf22, #de35fc);
    background: linear-gradient(to right, #0abf89, #d16df8);
}
#zayvca{
    font-size: 36px;
    display:block;
    background: #5dfc35;
    background: -webkit-linear-gradient(to right, #dcfce0, #b3f898);
    background: linear-gradient(to right, #c9f5e8, #057718);
}
#kcarzin{
    background: #fc6335;
    background: -webkit-linear-gradient(to right, #d8f5db, #b3f898);
    background: linear-gradient(to right, #8aafa4, #f7576c);
}
.btn btn-secondary{
    background: #fc6335;
    background: -webkit-linear-gradient(to right, #eef7bf, #e7f898);
    background: linear-gradient(to right, #def0ea, #f7df57);
}

#message_tovar{
    color: rgb(2, 27, 2);
    background-color: rgb(167, 245, 160);
    padding-left: 35%;
    font-size: 24px;
    display: none;
}

#add_all_orders{
    margin-left: 7%;
    width: 18%;
    font-size: 20px;
    background: #fc6335;
    background: -webkit-linear-gradient(to right, #dffa56, #d6fd29);
    background: linear-gradient(to right, #069266, #f7df57);
    /* display:none; */
}
#all_summ_korzina{
    color: rgb(2, 27, 2);
    font-size: 25px;
    margin-left: 5%;
    
}
#summ{
    color: rgb(2, 27, 2);
    font-size: 20px;
    /* margin-left: 5%;  */
}
#message_zacaz{
    
    color: rgb(2, 27, 2);
    background: #fc6335;
    background: -webkit-linear-gradient(to right, #dffa56, #d6fd29);
    background: linear-gradient(to right, #71f1c9, #fafc90);
    padding-left: 35%;
    font-size: 24px;
    display: none;
    
}
.so{
    width: 17%;
  }
#summa1{
    color: rgb(2, 27, 2);
    font-size: 20px;
    /* margin-left: 5%;  */
}
#all_summa_zayvoc{
    color: rgb(2, 27, 2);
    font-size: 25px;
    /* margin-left: 5%; */
    
}
#Search{
    font-size: 24px;
 }
 #catlog{
    /* background: #fc6335;
    background: -webkit-linear-gradient(to right, #c5e718, #e9f80f);
    background: linear-gradient(to right, #53fdc7, #fafc90); */
    font-size: 24px;
    color: rgb(255, 255, 255);
 }
 #dlavnay{
    /* background: #fc6335;
    background: -webkit-linear-gradient(to right, #c5e718, #e9f80f);
    background: linear-gradient(to right, #53fdc7, #fafc90); */
    font-size: 24px;
    color: rgb(253, 255, 255);
 }
 #categ1{
    font-size: 24px;
 }
 #sidebarMenu{
    background: #fc6335;
    background: -webkit-linear-gradient(to right, #eef7bf, #e7f898);
    background: linear-gradient(to right, #def0ea, #f7df57);
 }
 
 #summa{
     color: peru;

 }
 #all_summa_zayvoc{
     color: red;
 }
 #summa1{
    color: rgb(1, 12, 12);
    font-size: 24px;
}
#all_summa_periyd{
    color: rgb(1, 12, 12);
    font-size: 24px;
}
 #order_summa_zayvoc{
   color: rgb(206, 6, 6);
   font-size: 28px;
 }
 #zacaz_history{
     display: block;
 }
 #order_summa_zayvoc{
     display: block;
 }
 #pere_time{
     display: none;
 }
 #exit_button{
     /* display: none; */
    background: #fc6335;
    background: -webkit-linear-gradient(to right, #dffa56, #d6fd29);
    background: linear-gradient(to right, #71f1c9, #fafc90);
    color: rgb(2, 27, 2);
 }
 #zayv{
     /* display: none; */
    background: #fc6335;
    background: -webkit-linear-gradient(to right, #c5e718, #e9f80f);
    background: linear-gradient(to right, #53fdc7, #fafc90);
    color: rgb(2, 27, 2);
 }
 .navbar-brand{
     width: 45%;
 }
 #labe{
    margin-left: 7%;
     color: rgb(2, 27, 2);
 }
 
 
 #ul_menu{
     font-size: 20px;
 }
 #futers{
     margin-left: 55%;
 }
 #clock_bodi{
    
    margin-top: auto; 
    background: #35e5fc;
    background: -webkit-linear-gradient(to right, #0abf22, #de35fc);
    background: linear-gradient(to right, #0abf89, #d16df8);
}

#myclock canvas{
width:40%;
max-width:40%;
}
#index_colok{
    margin-top: auto;
  margin-left: 43%;
}
#ooter_brend{
    margin-left: 45;
}
#footer_brend{
    margin-left: 40%;
}