.my_logo{
    width: 5%;
}

.my_message{
    color: red;
}

#message_registration {
    display: none;
}

#message_registration2 {
    display: none;
 }
 #message_autorization {
    display: none;
 }

 #authorized{
    display: none;
 }

 header{
     margin-top: 20px;
 }
 /* тест */
 #testes{
     margin-top:0%; 
    background: #35e5fc;
    background: -webkit-linear-gradient(to right, #0abf22, #de35fc);
    background: linear-gradient(to right, #0abf89, #d16df8);
}